@model List<Ecommerce.Models.CheckoutViewModel>
@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>
<div class="row checkoutWrap">
    <div class="col-md-6 bag">
        <h3>In your basket</h3>
        <button>@Html.ActionLink("Edit your basket", "Index", "Cart")</button>
        @foreach (var product in Model)
        {
            <div class="row checkoutLineWrap">
                <p>@product.Qty</p>
                <p>@product.Title</p>
                <p>@product.Price</p>
            </div>
        }
        <h4>Sum: @ViewBag.Sum</h4>
    </div>
    <div class="col-md-6 info">
        <h3>Your Information</h3>
    </div>
</div>