@model List<Ecommerce.Models.ProductsViewModel>
@{
    ViewBag.Title = "All Records";
}
@section scripts{ <script type="text/javascript" src="~/scripts/shop.js"></script> }
<h2 class="recordsHeading">Everything sounds better on vinyl.</h2>

<div class="container-fluid">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-3 recordWrap">
                <a href="/products/details/@(product.Id)">
                    <img src="@Url.Content("~/Content/" + product.ImgUrl)" alt="@product.Title" class="img-fluid img-thumbnail" />
                </a>
                <a href="/products/details/@(product.Id)">
                    <h3>@(product.Title)</h3>
                    <p>@(product.Artist)</p>
                </a>
                <p>$ @(product.Price)</p>
                <p>@(product.Stock > 0 ? "In stock" : "Out of stock")</p>
                
                <!-- add if in stock. What if product sold out when cart turns to order? -->
                @using (Html.BeginForm("AddToCart", "Cart"))
                { 
                    <input type="hidden" class="productId" name="productId" value="@(product.Id)" />
                    <input type="number" class="addQty" name="orderQty" value="1" />
                    <input type="Submit" class="addProduct" value="Add to Cart"/>
                }
                <p>@Html.ValidationMessage("CustomError")</p>
            </div>
        }
    </div>
</div>